* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Microsoft Sans Serif", "sans-serif"; }

body {
  font-size: 1.6rem;
  background-color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Maiandra GD";
  margin-bottom: 1.6rem; }

p {
  margin-bottom: 1.6rem; }

a:hover {
  opacity: 0.7; }

.wrapper {
  max-width: 1500px;
  margin: 0 auto; }

img {
  width: 100%;
  vertical-align: bottom; }

.navBar {
  position: fixed;
  max-width: 150px;
  margin-left: 30px;
  padding: 10px;
  background-color: #908f8e;
  border: 3px solid #226666;
  border-top: 0;
  border-radius: 10px;
  display: flex;
  z-index: 99; }
  .navBar .navBar__left {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .navBar .navBar__left .navBar__logoDiv {
      height: 40px;
      width: 40px; }
    @media all and (min-width: 960px) {
      .navBar .navBar__left .navBar__logoDiv {
        height: 80px;
        width: 80px; } }
    .navBar .navBar__left .navBar__name {
      font-size: 1.8rem;
      margin-bottom: 0; }
    @media all and (min-width: 960px) {
      .navBar .navBar__left .navBar__name {
        font-size: 3.0rem; } }
  .navBar .navBar__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    position: relative; }
    .navBar .navBar__right .navBar__link {
      text-decoration: none;
      color: #000;
      font-family: "Maiandra GD"; }
      .navBar .navBar__right .navBar__link:hover {
        transform: scale(1.05);
        transform-origin: left; }
    .navBar .navBar__right .navBar__dropDown {
      display: none;
      position: absolute;
      width: 170px;
      right: -100px;
      top: 20px;
      padding: 10px;
      background-color: #226666;
      border-radius: 10px; }
      .navBar .navBar__right .navBar__dropDown:hover {
        display: block; }
      .navBar .navBar__right .navBar__dropDown .navBar__projectLink {
        text-decoration: none;
        color: #fff; }
    @media all and (min-width: 960px) {
      .navBar .navBar__right .navBar__dropDown {
        top: 27px; } }
    .navBar .navBar__right .navBar__link--dropDown:hover ~ .navBar__dropDown {
      display: block; }

@media all and (min-width: 960px) {
  .navBar {
    max-width: 250px;
    margin-left: 100px; } }

.homeSection {
  background-image: url("../images/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  background-color: rgba(45, 45, 45, 0.5);
  background-blend-mode: darken;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  position: relative; }
  .homeSection .homeSection__content {
    width: 90%;
    padding-left: 30px;
    padding-top: 120px;
    color: #fff; }
    .homeSection .homeSection__content h1 {
      font-size: 4rem; }
  @media all and (min-width: 600px) {
    .homeSection .homeSection__content {
      width: 50%; }
      .homeSection .homeSection__content h1 {
        font-size: 5rem; } }
  @media all and (min-width: 960px) {
    .homeSection .homeSection__content {
      padding-left: 100px;
      padding-top: 140px;
      margin: auto; }
      .homeSection .homeSection__content h1 {
        font-size: 6rem; } }
  @media all and (min-width: 1250px) {
    .homeSection .homeSection__content h1 {
      font-size: 8rem; } }
  .homeSection .homeSection__triDiv {
    width: 50%;
    position: relative; }
    .homeSection .homeSection__triDiv .homeSection__tri {
      position: absolute;
      right: 0;
      bottom: -120px;
      width: 0;
      height: 0;
      border-bottom: 40vw solid #226666;
      border-right: 40vw solid #226666;
      border-left: 40vw solid transparent;
      border-top: 40vw solid transparent; }
    @media all and (min-width: 960px) {
      .homeSection .homeSection__triDiv .homeSection__tri {
        border-bottom-width: 28vw;
        border-right-width: 28vw;
        border-left-width: 28vw;
        border-top-width: 28vw; } }
    @media all and (min-width: 1500px) {
      .homeSection .homeSection__triDiv .homeSection__tri {
        border-bottom-width: 375px;
        border-right-width: 375px;
        border-left-width: 375px;
        border-top-width: 375px; } }
    .homeSection .homeSection__triDiv .homeSection__triSmall {
      position: absolute;
      right: 3vw; }
    @media all and (min-width: 600px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall {
        right: 6vw; } }
    @media all and (min-width: 600px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall {
        right: 3vw; } }
    @media all and (min-width: 1500px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall {
        right: 30px; } }
    .homeSection .homeSection__triDiv .homeSection__triSmall--1 {
      bottom: 40vw;
      height: 0;
      width: 0;
      border-bottom: 3vw solid #aa8439;
      border-right: 3vw solid #aa8439;
      border-left: 3vw solid transparent;
      border-top: 3vw solid transparent; }
      .homeSection .homeSection__triDiv .homeSection__triSmall--1:hover {
        border-bottom-color: #AA3939;
        border-right-color: #AA3939; }
    @media all and (min-width: 600px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--1 {
        bottom: 45vw;
        border-bottom-width: 4vw;
        border-right-width: 4vw;
        border-left-width: 4vw;
        border-top-width: 4vw; } }
    @media all and (min-width: 960px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--1 {
        bottom: 30vw;
        border-bottom-width: 4vw;
        border-right-width: 4vw;
        border-left-width: 4vw;
        border-top-width: 4vw; } }
    @media all and (min-width: 1500px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--1 {
        bottom: 450px;
        border-bottom-width: 50px;
        border-right-width: 50px;
        border-left-width: 50px;
        border-top-width: 50px; } }
    .homeSection .homeSection__triDiv .homeSection__triSmall--2 {
      bottom: 25vw;
      width: 20vw; }
      .homeSection .homeSection__triDiv .homeSection__triSmall--2 .clipMe2 {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%); }
    @media all and (min-width: 600px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--2 {
        bottom: 28vw;
        width: 23vw; } }
    @media all and (min-width: 960px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--2 {
        bottom: 18vw;
        width: 19vw; } }
    @media all and (min-width: 1500px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--2 {
        bottom: 300px;
        width: 250px; } }
    .homeSection .homeSection__triDiv .homeSection__triSmall--3 {
      bottom: 0;
      width: 43vw; }
      .homeSection .homeSection__triDiv .homeSection__triSmall--3 .clipMe3 {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%); }
    @media all and (min-width: 600px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--3 {
        bottom: 0;
        width: 50vw; } }
    @media all and (min-width: 960px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--3 {
        bottom: 0;
        width: 37vw; } }
    @media all and (min-width: 1500px) {
      .homeSection .homeSection__triDiv .homeSection__triSmall--3 {
        bottom: 20px;
        width: 525px; } }
    .homeSection .homeSection__triDiv .homeSection__subTitle {
      position: absolute;
      bottom: -110px;
      right: 4vw;
      font-size: 6.0rem;
      color: white; }
    @media all and (min-width: 600px) {
      .homeSection .homeSection__triDiv .homeSection__subTitle {
        right: 15vw; } }
    @media all and (min-width: 1500px) {
      .homeSection .homeSection__triDiv .homeSection__subTitle {
        right: 200px; } }

@media all and (min-width: 1500px) {
  .homeSection {
    height: 650px; } }

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; }
  .projectSection .projectSection__top {
    background-color: #aa8439;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2.5rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .projectSection .projectSection__top .projectSection__num {
      margin-right: 20px;
      margin-bottom: 0;
      font-size: 5.5rem; }
    .projectSection .projectSection__top .projectSection__title {
      margin-bottom: 0;
      font-size: 2.6rem; }
  @media all and (min-width: 960px) {
    .projectSection .projectSection__top {
      width: 60%; } }
  @media all and (min-width: 1500px) {
    .projectSection .projectSection__top {
      width: 800px; } }
  .projectSection .projectSection__bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 2.0rem; }
    .projectSection .projectSection__bottom .projectSection__left {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .projectSection .projectSection__bottom .projectSection__left .projectSection__lang {
        background-color: #aa8439;
        width: 60%;
        padding: 1.0rem;
        text-align: center;
        border-radius: 10px; }
      @media all and (min-width: 600px) {
        .projectSection .projectSection__bottom .projectSection__left .projectSection__lang {
          width: 44%;
          margin-right: 2.0rem; } }
      .projectSection .projectSection__bottom .projectSection__left .projectSection__lang--lg {
        font-size: 3.8rem; }
      .projectSection .projectSection__bottom .projectSection__left .projectSection__lang--sm {
        font-size: 2.9rem;
        display: flex;
        align-items: center;
        justify-content: center; }
    .projectSection .projectSection__bottom .projectSection__right {
      width: 100%;
      margin-bottom: 2.0rem; }
    @media all and (min-width: 960px) {
      .projectSection .projectSection__bottom .projectSection__left {
        width: 50%; }
      .projectSection .projectSection__bottom .projectSection__right {
        width: 50%;
        margin-bottom: 0; } }
  @media all and (min-width: 960px) {
    .projectSection .projectSection__bottom {
      flex-direction: row;
      padding: 8.0rem; } }

@media all and (min-width: 960px) {
  .projectSection {
    padding-top: 0; } }

.projectSection--first {
  padding-top: 200px; }
