.navBar {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: $gray;
  display: flex;
  justify-content: space-around;
  z-index: 99;

  .navBar__left {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    .navBar__logoDiv {
      height: 40px;
      width: 40px;
    }

    @media all and (min-width: 960px) {
      .navBar__logoDiv {
        height: 80px;
        width: 80px;
      }
    }

    .navBar__name {
      font-size: 1.8rem;
      margin-bottom: 0;
    }

    @media all and (min-width: 960px) {
      .navBar__name {
        font-size: 3.0rem;
      }
    }
  }

  .navBar__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    position: relative;
    width: 70%;

    .navBar__link {
      text-decoration: none;
      color: $black;
      font-family: $header;

      &:hover {
        transform: scale(1.05);
        transform-origin: left;
      }
    }

    .navBar__dropDown {
      display: none;
      position: absolute;
      left: 3vw;
      top: 40px;
      padding: 20px;
      background-color: $teal;

      &:hover {
        display: block;
      }

      .navBar__projectLink {
        text-decoration: none;
        color: $white;
        display: block;
        margin-bottom: 20px;
      }

      .navBar__projectLink--NoMB {
        margin-bottom: 0;
      }
    }

    .navBar__link--dropDown:hover ~.navBar__dropDown {
      display: block;
    }
  }
}

@media all and (min-width: 960px) {
  .navBar {
    max-width: 200px;
    margin-left: 100px;
    border: 3px solid $teal;
    border-top: 0;
    border-radius: $bRadius;

    .navBar__left {
      width: auto;
    }

    .navBar__right {
      flex-direction: column;
      width: auto;
      align-items: start;

      .navBar__dropDown {
        width: 190px;
        left: 0;
        top: 27px;
      }
    }
  }
}