.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;

  .projectSection__top {
    background-color: $bronze;
    width: 90%;
    border-bottom-left-radius: $bRadius;
    border-top-left-radius: $bRadius;
    padding: 2.5rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .projectSection__num {
      //background-color: red;
      margin-right: 20px;
      margin-bottom: 0;
      font-size: 5.5rem;
    }

    .projectSection__title {
      //background-color: blue;
      margin-bottom: 0;
      font-size: 2.6rem;
    }
  }

  @media all and (min-width: 960px) {
    .projectSection__top {
      width: 60%;
    }
  }

  @media all and (min-width: 1500px) {
    .projectSection__top {
      width: 800px;
    }
  }

  .projectSection__bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 2.0rem;
    //background-color: red;

    .projectSection__left {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      //align-items: center;
      justify-content: center;

      .projectSection__lang {
        background-color: $bronze;
        width: 80%;
        padding: 1.0rem;
        text-align: center;
        margin-right: 2.0rem;
        border-radius: $bRadius;
      }

      @media all and (min-width: 600px) {
        .projectSection__lang {
          width: 44%;
        }
      }

      .projectSection__lang--lg {
        font-size: 3.8rem;
      }

      .projectSection__lang--sm {
        font-size: 2.0rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .projectSection__right {
      width: 100%;
      margin-bottom: 2.0rem;
    }

    @media all and (min-width: 960px) {
      .projectSection__left {
        width: 50%;
      }
      .projectSection__right {
        width: 50%;
        margin-bottom: 0;
      }
    }
  }

  @media all and (min-width: 960px) {
    .projectSection__bottom {
      flex-direction: row;
      padding: 8.0rem;
    }
  }
}