.triangle__triDiv {
  //background-color: papayawhip;
  //display: flex;
  //align-items: flex-end;
  //justify-content: flex-end;
  //margin-bottom: -100px;
  position: relative;

  //main triangle
  .triangle__tri {
    position: absolute;
    right: 0;
    bottom: -120px;
    width: 0;
    height: 0;
    border-bottom: 40vw solid $teal;
    border-right: 40vw solid $teal;
    border-left: 40vw solid transparent;
    border-top: 40vw solid transparent;
    border-bottom-left-radius: 100px;
  }

  @media all and (min-width: 960px) {
    .triangle__tri {
      border-bottom-width: 28vw;
      border-right-width: 28vw;
      border-left-width: 28vw;
      border-top-width: 28vw;
    }
  }

  @media all and (min-width: 1500px) {
    .triangle__tri {
      border-bottom-width: 375px;
      border-right-width: 375px;
      border-left-width: 375px;
      border-top-width: 375px;
    }
  }

  //small shape within big triangle
  .triangle__triSmall {
    position: absolute;
    right: 3vw;
  }

  @media all and (min-width: 600px) {
    .triangle__triSmall {
      right: 6vw;
    }
  }

  @media all and (min-width: 600px) {
    .triangle__triSmall {
      right: 3vw;
    }
  }

  @media all and (min-width: 1500px) {
    .triangle__triSmall {
      right: 30px;
    }
  }

  .triangle__triSmall--1 {
    bottom: 40vw;
    height: 0;
    width: 0;
    border-bottom: 3vw solid $bronze;
    border-right: 3vw solid $bronze;
    border-left: 3vw solid transparent;
    border-top: 3vw solid transparent;

    &:hover {
      border-bottom-color: $red;
      border-right-color: $red;
    }
  }

  @media all and (min-width: 600px) {
    .triangle__triSmall--1 {
      bottom: 45vw;
      border-bottom-width: 4vw;
      border-right-width: 4vw;
      border-left-width: 4vw;
      border-top-width: 4vw;
    }
  }

  @media all and (min-width: 960px) {
    .triangle__triSmall--1 {
      bottom: 30vw;
      border-bottom-width: 4vw;
      border-right-width: 4vw;
      border-left-width: 4vw;
      border-top-width: 4vw;
    }
  }

  @media all and (min-width: 1500px) {
    .triangle__triSmall--1 {
      bottom: 450px;
      border-bottom-width: 50px;
      border-right-width: 50px;
      border-left-width: 50px;
      border-top-width: 50px;
    }
  }

  .triangle__triSmall--2 {
    bottom: 25vw;
    //border-bottom: 10vw solid $bronze;
    //border-right: 7vw solid $bronze;
    //border-left: 10vw solid transparent;
    //border-top: 12vw solid transparent;
    width: 20vw;

    .clipMe2 {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @media all and (min-width: 600px) {
    .triangle__triSmall--2 {
      bottom: 28vw;
      width: 23vw;
    }
  }

  @media all and (min-width: 960px) {
    .triangle__triSmall--2 {
      bottom: 18vw;
      width: 19vw;
    }
  }

  @media all and (min-width: 1500px) {
    .triangle__triSmall--2 {
      bottom: 300px;
      width: 250px;
    }
  }

  .triangle__triSmall--3 {
    bottom: 0;
    width: 43vw;

    .clipMe3 {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @media all and (min-width: 600px) {
    .triangle__triSmall--3 {
      bottom: 0;
      width: 50vw;
    }
  }

  @media all and (min-width: 960px) {
    .triangle__triSmall--3 {
      bottom: 0;
      width: 37vw;
    }
  }

  @media all and (min-width: 1500px) {
    .triangle__triSmall--3 {
      bottom: 20px;
      width: 525px;
    }
  }

  .triangle__subTitle {
    position: absolute;
    bottom: -110px;
    right: 4vw;
    font-size: 6.0rem;
    color: white;
  }

  @media all and (min-width: 600px) {
    .triangle__subTitle {
      right: 15vw;
    }
  }

  @media all and (min-width: 1500px) {
    .triangle__subTitle {
      right: 200px;
    }
  }
}

.triangle__triDiv--home {
  width: 50%;
}

.triangle__triDiv--reg {
  right: 0;
  z-index: -1;
}