//colors
$teal: #226666;
$tealHover: rgba(34, 102, 102, 0.5);
$bronze: #aa8439;
$bronzeHover: rgba(170, 132, 57, 0.5);
$red: #AA3939;
$redHover: rgba(170, 57, 57, 0.5);
$black: #000;
$blackHover: rgba(0, 0, 0, 0.5);
$white: #fff;
$whiteHover: rgba(255, 255, 255, 0.5);

//fonts
$text: "Microsoft Sans Serif";
$header: "Maiandra GD";

//misc styles
$bRadius: 10px;